@import "../abstracts/mixins";
@import "../abstracts/variables";

.btn {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  // padding: 18px 50px;
  width: 240px;
  height: 56px;
  display: flex;
  font-weight: 400;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  color: $whiteColor;
  border-radius: 4px;
  line-height: 1;
  @include transition(.3);
  &-orange {
    background: $orangeColor;
    border: 2px solid $orangeColor;
    &:hover {
      background: transparent;
      color: $orangeColor;
    }
  }
  &-black {
    background: $blackColor;
    border: 2px solid $blackColor;
    color: $whiteColor;
    &:hover {
      background: transparent;
      color: $blackColor;
    }
  }
}